:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: var(--light-grayish-blue);
}
.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.links a {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 700;
    padding-right: 40px;
}
.links a:hover {
    color: var(--desaturated-blue);
}
.logo-header img {
    width: 15rem;
}