:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: var(--light-grayish-blue);
}
/* ------------------------------ SECTION-ONE------------------------------------------- */

.section-one{
    background-color: rgb(0, 255, 13);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
}

.latizq{
    grid-column: 1/2;
    grid-row: 2/6;
}
.illustration1{
    height: 50rem;
    grid-column: 2/3;
    grid-row: 1/7;
}

/* ------------------------------ SECTION-TWO------------------------------------------- */

.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
}
.latizq2{
    grid-column: 1/2;
    grid-row: 2/6;
}
.illustration2{
    height: 50rem;
    grid-column: 2/3;
    grid-row: 1/7;
}
