:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: var(--light-grayish-blue);
}
/* ------------------------------ SECTION-ONE------------------------------------------- */

.section-one{
    background-color: rgb(0, 255, 13);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
}

.latizq{
    grid-column: 1/2;
    grid-row: 2/6;
}
.illustration1{
    height: 50rem;
    grid-column: 2/3;
    grid-row: 1/7;
}

/* ------------------------------ SECTION-TWO------------------------------------------- */

.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
}
.latizq2{
    grid-column: 1/2;
    grid-row: 2/6;
}
.illustration2{
    height: 50rem;
    grid-column: 2/3;
    grid-row: 1/7;
}

.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.links a {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 700;
    padding-right: 40px;
}
.links a:hover {
    color: var(--desaturated-blue);
}
.logo-header img {
    width: 15rem;
}
footer {
    background-color: var(--very-dark-blue);
    color: var(--light-grayish-blue);
    padding: 5rem;
}
.container {
    display: flex;
    justify-content: space-around;
}
.logo-footer img {
    width: 10rem;
    padding-bottom: 2rem;
}
.contact-info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.contact-info img {
    margin-right: 8px; 
}
.contact-info p {
    font-weight: 400;
    padding: 0.5rem;
}

.footer-about {
    padding-top: 6rem;
}
.footer-about a {
    text-decoration: none;
    color: var(--light-grayish-blue);
    transition: all .5s ease;
}
.footer-about a:hover {
    color: var(--bright-blue);
}
.footer-about ul {
    list-style-type: none;
}
.footer-about .list li {
    line-height: 2.5rem; 
}

.footer-contact {
    padding-top: 6rem;
}
.footer-contact a {
    text-decoration: none;
    color: var(--light-grayish-blue);
    transition: all .5s ease; 
}
.footer-contact a:hover {
    color: var(--bright-blue);
}
.footer-contact ul {
    list-style-type: none;
}
.footer-contact .list li {
    line-height: 2.5rem; 
}

.footer-socials {
    padding-top: 6rem;
}
.footer-socials a {
    color: var(--light-grayish-blue);
    display: inline-block;
    min-height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    border: 1px solid var(--light-grayish-blue); 
    text-align: center;
    color: var(--light-grayish-blue);
    transition: border-color 0.3s, color 0.3s; 
}
.footer-socials a:hover {
    border-color: var(--bright-blue);
    color: var(--bright-blue);
}
